* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Cereal, sans-serif;
}
a {
  text-decoration: none;
  font-size: 16px;
}
.news {
  display: flex;
  color: black;
}
#header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}
#header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  display: flex;
  color: black;
}
#header li {
  margin: 0;
  margin-right: 7px;
  float: left;
}

#header a {
}
#header li a {
  color: black;
  text-decoration: none;
  padding: 15px;
}
#header ul li a:hover {
  background-color: rgba(236, 236, 236, 0.979);
  border-radius: 12px;
}
#header .news img {
  width: 40px;
  vertical-align: middle;
}
#header .news span {
  padding-bottom: 26px;
  top: 0px;
  vertical-align: middle;
}
.burgerMenu {
  width: auto;
  display: none;
}
.burgerMenu img {
  width: auto;
}
#imagenportada {
  position: relative;
}
#imagenportada img {
  width: 100%;
}
.aboutUs {
  padding: 90px;
  padding-left: 30%;
  padding-right: 30%;
  margin: auto;
  display: flex;
}
.textoaboutUs {
  flex-basis: auto;
}

#fastFacts {
  position: relative;
  background-color: #f2f2f2;
  padding-top: 80px;
  padding-left: 55px;
  padding-right: 55px;
  padding-bottom: 70px;
  width: auto;
  height: 500px;
  overflow: auto;
  white-space: nowrap;
}
#fastFacts h2 {
  padding-bottom: 20px;
  padding-left: 20px;
}

.tarjetas {
  height: 250px;
  width: 400px;
  background-color: white;
  border-radius: 30px;
  padding: 30px;
  display: inline-block;
  margin: 16px;
  margin-left: 8px;
  margin-right: 8px;
}
.tarjetas h3 {
  font-size: 64px;
  padding-bottom: 10px;
}
.fechasP {
  color: #717171;
  padding-top: 65px;
  font-size: 12px;
}
.founders {
  height: auto;
  padding-top: 80px;
  padding-left: 55px;
  padding-right: 55px;
  padding-bottom: 70px;
  border-radius: 12px;
  display: block;
}
.founders h2:first-child {
  padding-bottom: 20px;
  padding-left: 1%;
  display: flex;
  justify-content: flex-start;
}
.contenedorFounders {
  width: 100%;
  height: auto;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-shrink: 4;
}
.contenedoresFoudners {
  width: 100%;

  margin: 14px;
  border-radius: 12px;
  height: auto;
  align-items: center;
  flex-shrink: 15;
}
.contenedoresFoudners h2 {
  padding-top: 10px;
  padding-left: 2px;
  font-size: 18px;
  color: black;
}
.contenedoresFoudners h3 {
  color: black;
  font-size: 16px;
  font-weight: 200;
  padding-left: 2px;
}
.contenedoresFoudners h2:hover {
  text-decoration: underline;
}
.fotoFounders {
  overflow: hidden;

  border-radius: 12px;
}
.fotoFounders img {
  width: 100%;
  height: 100%;
  display: block;
  transition: transform 0.2s;
  border-radius: 12px;
}
.fotoFounders img:hover {
  transform: scale(1.1);
  transform: translateZ(1);
  border-radius: 12px;
}
#history {
  display: flex;
  justify-content: center;
  padding-left: 40px;
  padding-right: 40px;
  height: 600px;
  margin-bottom: 150px;
}

.tituloHistory {
  padding-bottom: 30px;
  padding-left: 5%;
  display: flex;
}
.contenedorHistory {
  flex-basis: auto;
  height: 515px;
  width: 25%;
  border: 1px solid #ddd;
  border-radius: 12px;
  margin: 8px;
}
.contenedorHistory img {
  width: 100%;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.textoHistory {
  padding: 24px;
}
.textoHistory h3 {
  font-size: 18px;
  margin-bottom: 4px;
  font-weight: 500;
}
.textoHistory p {
  font-size: 14px;
  font-weight: 300;
}
#footer {
  padding-top: 50px;
  border-top: 1px solid #ddd;
  background-color: #f7f7f7;
  height: auto;
  padding-bottom: 15px;
}
.footerContenedor {
  width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  padding-right: 80px;
  padding-left: 80px;
}
.contenedorListas {
  height: 350px;
  display: flex;
  justify-content: space-between;
}
.listasFooter {
  flex-basis: auto;
  width: 368px;
  height: 355px;
}
.listasFooter h4 {
  font-size: 12px;
  font-weight: 600;
}
.listasFooter ul {
  list-style: none;
  color: black;
}
.listasFooter li {
  color: black;
  margin-top: 16px;
}
.listasFooter a {
  color: #222;
  font-size: 14px;
  font-weight: 300;
}
.listasFooter a:hover {
  text-decoration: underline;
}
.disclaimer {
  display: flex;
  margin-top: 55px;
  margin-bottom: 48px;
  width: 55%;
  margin-bottom: 48px;
}
.textoDisclaimer {
  flex-basis: auto;
}

.disclaimer h4 {
  font-size: 12px;
  font-weight: 600px;
}
.disclaimer p {
  margin-top: 16px;
  font-size: 14px;
  font-weight: 300;
}
.contenedorCopyrightetc {
  padding-left: 80px;
  padding-right: 80px;
  height: auto;
}
.copyrightetc {
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
}
.copyenlaces {
  display: flex;

  align-items: center;
}
.copyenlaces div {
  display: flex;
  flex-direction: row;
}
.copyenlaces p {
  padding-right: 5px;
  padding-left: 5px;
  font-size: 14px;
  font-weight: 300;
}
.copyenlaces a {
  color: black;
  font-size: 14px;
  font-weight: 300;
}
.copyenlaces a:hover {
  text-decoration: underline;
}
.enlacesRedesSociales {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}
.enlacesRedesSociales img {
  margin-right: 5px;
  margin-left: 5px;
  width: 20px;
  height: 20px;
}
@media (max-width: 1127px) {
  .listasFooter {
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
  }
  .contenedorListas {
    height: auto;
    width: auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .enlacesRedesSociales {
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 15px;
  }
  .copyrightetc {
    flex-direction: column-reverse;
  }
  .copyenlaces {
    flex-direction: column;
  }
  .copyenlaces div {
    flex-direction: row;
    display: flex;
    align-self: center;
    justify-self: center;
    padding-left: 5px;
  }
  .copyenlaces div p:first-child {
    display: none;
  }
  .disclaimer {
    width: 100%;
  }
}
@media (max-width: 743px) {
  .botonesHeader {
    display: none;
  }
  .burgerMenu {
    display: flex;
  }
  #history {
    flex-direction: column;
    height: auto;
    align-items: center;
  }
  .contenedorHistory {
    width: 60%;
  }
}
@media (max-width: 600px) {
  .aboutUs {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .disclaimer {
    padding-top: 100px;
    width: 100%;
  }
  .copyenlaces {
    width: 100%;
  }
  .copyenlaces p {
    font-size: 14px;
  }

  .copyenlaces p:first-child {
    width: 100%;
    align-self: flex-start;
    justify-self: flex-start;
  }
  .copyenlaces a {
    font-size: 14px;
  }
  .contenedorListas {
    justify-content: space-between;
  }
  .founders {
    display: flex;
    flex-direction: column;
  }
  .contenedorFounders {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  #history {
    flex-direction: column;
    height: auto;
    align-items: center;
  }
  .contenedorHistory {
    width: 100%;
  }
  .listasFooter {
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
  }
  .contenedorListas {
    height: auto;
    width: auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .enlacesRedesSociales {
    align-items: flex-start;
    justify-content: flex-start;
    padding-bottom: 15px;
  }
  .copyrightetc {
    flex-direction: column-reverse;
  }
  .copyenlaces {
    flex-direction: column;
  }
  .copyenlaces div {
    flex-direction: row;
    display: flex;
    align-self: flex-start;
    justify-self: flex-start;
    padding-left: 5px;
  }
  .copyenlaces div p:first-child {
    display: none;
  }
}
@media (max-width: 450px) {
  .copyenlaces p {
    font-size: 12px;
  }
  .copyenlaces a {
    font-size: 12px;
  }
}
@media (max-width: 400px) {
  .copyenlaces p {
    font-size: 10px;
  }
  .copyenlaces a {
    font-size: 10px;
  }
}
